root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{json,yml,yaml}]
indent_size = 2

[Makefile]
indent_style=tab

[*.py]
indent_size = 4
profile = black

[Dockerfile]
indent_size = 4

[*.md]
indent_size = 4
trim_trailing_whitespace = false

[*.sh]
indent_size = 4

[{go.mod,go.sum,*.go,}]
indent_style = tab
indent_size = 4
