root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace=true

[*.{css,html,js,json,scss,yaml,yml}]
indent_size = 2

[*.{py,sh}]
indent_size = 4

[*.go]
indent_style = tab
