# This file is part of REANA.
# Copyright (C) 2017, 2018, 2019, 2020, 2021, 2024 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include *.html
include *.json
include *.md
include *.sh
include *.yaml
include *.yml
include .flake8
include LICENSE
include pytest.ini
exclude .editorconfig
exclude .readthedocs.yaml
prune docs/_build
recursive-include reana *.py
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.md
recursive-include docs *.txt
recursive-include tests *.py
recursive-include helm *.yaml
recursive-include helm *.txt
recursive-include helm *.helmignore
recursive-include helm *.lock
recursive-include scripts *.sh
recursive-include scripts *.py
recursive-include etc *.yaml

# Helm
recursive-include helm *.md
recursive-include helm *.tpl
include *.yaml
