# REANA components pointing to `latest`, locally built master branch

components:
    reana_db:
      image: docker.io/library/postgres:14.10
    reana_server:
      image: docker.io/reanahub/reana-server
      environment:
        REANA_SCHEDULER_REQUEUE_SLEEP: 2
        REANA_RATELIMIT_SLOW: "5 per second"
        REANA_RATELIMIT_GUEST_USER: "100 per second"
        REANA_RATELIMIT_AUTHENTICATED_USER: "100 per second"
    reana_workflow_controller:
      image: docker.io/reanahub/reana-workflow-controller
      environment:
        REANA_RUNTIME_KUBERNETES_KEEP_ALIVE_JOBS_WITH_STATUSES: failed
        REANA_OPENSEARCH_USE_SSL: false
        REANA_OPENSEARCH_ENABLED: false
    reana_workflow_engine_cwl:
      image: docker.io/reanahub/reana-workflow-engine-cwl
    reana_workflow_engine_yadage:
      image: docker.io/reanahub/reana-workflow-engine-yadage
    reana_workflow_engine_serial:
      image: docker.io/reanahub/reana-workflow-engine-serial
    reana_workflow_engine_snakemake:
      image: docker.io/reanahub/reana-workflow-engine-snakemake
    reana_job_controller:
      image: docker.io/reanahub/reana-job-controller
    reana_message_broker:
      image: docker.io/reanahub/reana-message-broker
    reana_ui:
      image: docker.io/reanahub/reana-ui

pgbouncer:
  enabled: true

# OpenSearch configuration for dev environment
opensearch:
  enabled: false
  tls:
    generate: false
  singleNode: true
  config:
    opensearch.yml: |
      cluster.name: reana-opensearch
      network.host: 0.0.0.0
      plugins.security.disabled: true
  securityConfig:
    enabled: false
    internalUsersSecret:
    rolesSecret:
    rolesMappingSecret:
  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
  extraEnvs:
    - name: DISABLE_INSTALL_DEMO_CONFIG
      value: "false"
    - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: reana-opensearch-secrets
          key: OPENSEARCH_INITIAL_ADMIN_PASSWORD
  secretMounts: []
  customSecurityConfig:

# FluentBit configuration for dev environment
fluent-bit:
  enabled: false
  outputConfig:
    tls: "Off"
    tlsCaFile: ""
  extraVolumes: []
  extraVolumeMounts: []
